<html>
<body>
    <div class="container">
        <h3>Image test</h3>
        <div>
            <h4>Book name: <%= name %></h4>
            <img src="data:image/png;base64, <%= data %>" alt="DB Image" />
        </div>
    </div>
</body>
</html>