<html>
<body>
    <div class="container">
        <h3>Image test</h3>
        <div>
            <h4>Book name: <%= name %></h4>
            <h4>Book name: <%= data %></h4>
            
             </div>
    </div>
</body>
</html>